In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("data_sentiment.csv")
dataset

                                                   review sentiment
0       качество плохое пошив ужасный (горловина напер...  negative
1       Товар отдали другому человеку, я не получила п...  negative
2       Ужасная синтетика! Тонкая, ничего общего с пре...  negative
3       товар не пришел, продавец продлил защиту без м...  negative
4           Кофточка голая синтетика, носить не возможно.  negative
...                                                   ...       ...
147196  Для нас было плюсом, что в этом отеле можно ос...  positive
147197  Очень понравился отель.Хорошие номера с кухней...  positive
147198  В Петербурге бываю очень часто, поэтому появле...  positive
147199  Изумительное место! Я просто не ожидала такого...  positive
147200  Останавливались в этом отеле в августе 2013, р...  positive

[147201 rows x 2 columns]

In [3]:
dataset_neg = dataset[dataset.sentiment == "negative"]
dataset_neg

                                                   review sentiment
0       качество плохое пошив ужасный (горловина напер...  negative
1       Товар отдали другому человеку, я не получила п...  negative
2       Ужасная синтетика! Тонкая, ничего общего с пре...  negative
3       товар не пришел, продавец продлил защиту без м...  negative
4           Кофточка голая синтетика, носить не возможно.  negative
...                                                   ...       ...
147154  В ванных комнатах отваливается плитка, в право...  negative
147163  Самый ужасный отдых из всех, здесь предоставля...  negative
147165  Купили купон. Из плюсов - новый бассейн, места...  negative
147167  Единственный плюс этого отеля это расположение...  negative
147168  Известные названия, общепризнанные достопримеч...  negative

[33489 rows x 2 columns]

In [4]:
dataset = dataset[dataset.sentiment != "negative"]
dataset

                                                   review sentiment
29997   Пришли с пятном. До МО дошёл товаров за 12 дне...   neutral
29998   посылка шла больше двух месяцев, 72 дня, нам у...   neutral
29999   Заказ пришел вовремя. Качество, конечно, так с...   neutral
30000                                 думала будет толще.   neutral
30001   Ткань синтетика голая, прям  не приятная на ощ...   neutral
...                                                   ...       ...
147196  Для нас было плюсом, что в этом отеле можно ос...  positive
147197  Очень понравился отель.Хорошие номера с кухней...  positive
147198  В Петербурге бываю очень часто, поэтому появле...  positive
147199  Изумительное место! Я просто не ожидала такого...  positive
147200  Останавливались в этом отеле в августе 2013, р...  positive

[113712 rows x 2 columns]

In [5]:
df = pd.read_csv("reannotated(1).tsv", sep = "\t")

In [6]:
df

      Unnamed: 0                                               text     label
0              0             Качество ткани ГОВНО!!! 100% синтетика  negative
1              1  Пришло без точного адреса.С почты звонили на с...     mixed
2              2                               Материал ужас просто  negative
3              3  ткань не такая как смотрится на фото- просвечи...  negative
4              4  очень неприятная к телу ткань,страшно электрил...  negative
...          ...                                                ...       ...
5689        5689                        ткань не соответствует фото  negative
5690        5690  Отель мне не понравился, единственный плюс ряд...     mixed
5691        5691  белый топ действительно очень хорошо просвечив...  negative
5692        5692  Рубашка оказалась мала, хотя размеры проводила...  negative
5693        5693               На 48-50 XL  оказался маловат. Жаль.  negative

[5694 rows x 3 columns]

In [7]:
df["text"].isin(dataset_neg["review"])

0       True
1       True
2       True
3       True
4       True
        ...
5689    True
5690    True
5691    True
5692    True
5693    True
Name: text, Length: 5694, dtype: bool

In [8]:
dataset_neg["review"].isin(df["text"])

0         False
1         False
2         False
3         False
4         False
          ...
147154     True
147163    False
147165     True
147167     True
147168     True
Name: review, Length: 33489, dtype: bool

In [9]:
dataset_neg = dataset_neg[~dataset_neg["review"].isin(df["text"])]

In [10]:
dataset_neg

                                                   review sentiment
0       качество плохое пошив ужасный (горловина напер...  negative
1       Товар отдали другому человеку, я не получила п...  negative
2       Ужасная синтетика! Тонкая, ничего общего с пре...  negative
3       товар не пришел, продавец продлил защиту без м...  negative
4           Кофточка голая синтетика, носить не возможно.  negative
...                                                   ...       ...
147148  Музыка в ресторане орет на все 10 этажей всю н...  negative
147150  Ездил с девушкой на выходных. Хотели провести ...  negative
147151  Приезжали двумя семьями на выходные в Гелиос, ...  negative
147153  Можно долго перечислять все недостатки, но про...  negative
147163  Самый ужасный отдых из всех, здесь предоставля...  negative

[28749 rows x 2 columns]

In [11]:
df = df.drop("Unnamed: 0", axis = 1)
df

                                                   text     label
0                Качество ткани ГОВНО!!! 100% синтетика  negative
1     Пришло без точного адреса.С почты звонили на с...     mixed
2                                  Материал ужас просто  negative
3     ткань не такая как смотрится на фото- просвечи...  negative
4     очень неприятная к телу ткань,страшно электрил...  negative
...                                                 ...       ...
5689                        ткань не соответствует фото  negative
5690  Отель мне не понравился, единственный плюс ряд...     mixed
5691  белый топ действительно очень хорошо просвечив...  negative
5692  Рубашка оказалась мала, хотя размеры проводила...  negative
5693               На 48-50 XL  оказался маловат. Жаль.  negative

[5694 rows x 2 columns]

In [12]:
df.columns

Index(['text', 'label'], dtype='object')

In [13]:
df = df.rename(columns={'text': 'review', 'label': 'sentiment'})
df

                                                 review sentiment
0                Качество ткани ГОВНО!!! 100% синтетика  negative
1     Пришло без точного адреса.С почты звонили на с...     mixed
2                                  Материал ужас просто  negative
3     ткань не такая как смотрится на фото- просвечи...  negative
4     очень неприятная к телу ткань,страшно электрил...  negative
...                                                 ...       ...
5689                        ткань не соответствует фото  negative
5690  Отель мне не понравился, единственный плюс ряд...     mixed
5691  белый топ действительно очень хорошо просвечив...  negative
5692  Рубашка оказалась мала, хотя размеры проводила...  negative
5693               На 48-50 XL  оказался маловат. Жаль.  negative

[5694 rows x 2 columns]

In [14]:
result = pd.concat([df, dataset_neg, dataset], ignore_index=True)

result

                                                   review sentiment
0                  Качество ткани ГОВНО!!! 100% синтетика  negative
1       Пришло без точного адреса.С почты звонили на с...     mixed
2                                    Материал ужас просто  negative
3       ткань не такая как смотрится на фото- просвечи...  negative
4       очень неприятная к телу ткань,страшно электрил...  negative
...                                                   ...       ...
148150  Для нас было плюсом, что в этом отеле можно ос...  positive
148151  Очень понравился отель.Хорошие номера с кухней...  positive
148152  В Петербурге бываю очень часто, поэтому появле...  positive
148153  Изумительное место! Я просто не ожидала такого...  positive
148154  Останавливались в этом отеле в августе 2013, р...  positive

[148155 rows x 2 columns]

In [16]:
result.to_csv("third_dataset.csv")